/* Google FontsからZen Maru Gothicを読み込み */
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;700&display=swap');

:root {
    --nav-bg: #2b3033;
    --white: #ffffff;
    --blue: #5fc7ea;
    --red: #e68568;
    --yellow: #e6d068;
    --green: #68e6ac;
    --purple: #dd6eff;
    --light_blue: #dce3f2;
    --dark_blue: #091f5c;
    --orange: #e79a37;
    --ease: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

* {
    box-sizing: border-box;
}

body {
    /* フォントをZen Maru Gothicに変更 */
    font-family: 'Zen Maru Gothic', sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 60px;
    backface-visibility: hidden;
}

.nav__list {
    display: flex;
    flex-flow: column wrap;
    height: 93vh;
    transform: translate(0, -100%);
    transition: var(--ease);
}

.nav__list--active {
    transform: translate(0, 0);
}

.nav__item {
    flex: 1;
    position: relative;
}

.nav__link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    font-size: 24px;
    background: var(--nav-bg);
    transition: var(--ease);
    color: white;
}

.nav__link:hover {
    background: rgba(0, 0, 0, 0.1);
}

@media (max-width: 640px) {
    .nav {
        width: 40px;
    }
    .nav__list {
        height: 95vh;
    }
}

.burger {
    height: 7vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background: var(--nav-bg);
    cursor: pointer;
    transition: var(--ease);
}

.burger:hover {
    background: rgba(0, 0, 0, 0.1);
}

.burger__patty {
    position: relative;
    height: 2px;
    width: 40px;
    background: white;
    transition: var(--ease);
}

.burger__patty::before,
.burger__patty::after {
    content: "";
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background: white;
    transition: var(--ease);
}

.burger__patty::before {
    top: -10px;
}

.burger__patty::after {
    top: 10px;
}

.burger--active .burger__patty {
    transform: rotate(90deg);
}

.burger--active .burger__patty::before {
    transform: rotate(-45deg) translate(-7px,-7px) scaleX(0.7);
}

.burger--active .burger__patty::after {
    transform: rotate(45deg) translate(-7px,7px) scaleX(0.7);
}

@media (max-width: 640px) {
    .burger {
        height: 5vh;
    }
    .burger__patty {
        transform: scale(0.8);
    }
    .burger--active .burger__patty {
        transform: scale(0.8) rotate(90deg);
    }
}

.panel {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.panel#0 {
    min-height: 30vh;
    max-height: 30vh;
}

.panel__wrapper {
    padding: 7vh 7vw;
    perspective: 1000px;
}

.panel__content {
    will-change: transform;
    transform: scale(0.7) rotateX(-230deg);
    transform-origin: center 80%;
    opacity: 0;
    transition: var(--ease);
    align-items: center;
}

.panel__content img {
    width: 100%;
    padding: 5%;
}

#news-container {
    max-height: 500px;
    overflow-y: hidden;
}

.panel__content table {
    width: 100%;
    padding: 0;
    border-spacing: 10px;
}

.panel__content table th {
    text-align: left;
    vertical-align: baseline;
    margin: 10px;
    font-size: 18px;
}

.panel__content table td {
    text-align: left;
    vertical-align: baseline;
    margin: 10px;
    font-size: 22px;
}

@media (max-width: 640px) {
    .panel__content table th {
        font-size: 3vw;
    }
    
    .panel__content table td {
        font-size: 3.5vw;
    }
}

.panel__content--active {
    transform: none;
    opacity: 1;
}

.panel__content__flex {
    display: flex;
    width: auto;
}

.panel__content__left {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.panel__content__right {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.panel__content__left img, .panel__content__right p {
    padding: 10px 0 10px 0;
}

.panel__content__left img, .panel__content__right img {
    padding: 0;
    margin: 0;
}

@media (max-width: 640px) {
    .panel__wrapper {
        padding: 2vh 2vw;
    }
    .panel__content__flex {
        display: block;
    }
    .panel__content__left {
        width: 100%;
        margin: 0;
    }
    .panel__content__right {
        width: 100%;
        margin: 0;
    }
    .panel__content__left img, .panel__content__right p {
        padding: 0;
        margin: 0;
    }
    
    .panel__content__left img, .panel__content__right img {
        padding: 0;
        margin: 0;
    }
}

.panel__headline {
    font-weight: 700;
    opacity: 0.8;
    font-size: 48px;
    margin: 0 0 25px 0;
}

.panel p {
    margin: 0 0 25px 0;
    color: rgba(0, 0, 0, 0.8);
    font-size: 24px;
    max-width: 800px;
}

.panel__block {
    height: 3px;
    background: rgba(0, 0, 0, 0.2);
    margin: 0 0 25px 0;
}

@media (max-width: 640px) {
    .panel__headline {
        font-size: 36px;
    }
    .panel__wrapper {
        padding: 10vh 10vw;
    }
    .panel p {
        font-size: 16px;
    }
}

.c-blue {
    color: var(--blue);
}

.c-red {
    color: var(--red);
}

.c-green {
    color: var(--green);
}

.c-yellow {
    color: var(--yellow);
}

.c-purple {
    color: var(--purple);
}

.c-light_blue {
    color: var(--light_blue);
}

.c-dark_blue {
    color: var(--dark_blue);
}

.c-orange {
    color: var(--orange);
}

.b-blue {
    background: var(--blue);
}

.b-red {
    background: var(--red);
}

.b-green {
    background: var(--green);
}

.b-yellow {
    background: var(--yellow);
}

.b-purple {
    background: var(--purple);
}

.b-light_blue {
    background: var(--light_blue);
}

.b-dark_blue {
    background: var(--dark_blue);
}

.b-orange {
    background: var(--orange);
}

.cover_logo {
    text-align: center;
    animation: fade-in 3s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.cover_logo img {
    padding: 0 15% 0 15%;
}

.cover_logo p {
    color: #5fc7ea;
    text-align: center;
    width: max-content; /* または適当な幅 */
    margin: 0 auto 40px auto;
    font-size: 3.5vh;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 25;
    }
    60% {
        opacity: 50;
    }
    70% {
        opacity: 75;
    }
    80% {
        opacity: 100;
    }
    90% {
        opacity: 50;
    }
    100% {
        opacity: 0;
    }
}

.sp_br {
    display: none;
}

@media screen and (max-width: 768px) {
    .sp_br {
        display: block;
    }

    .cover_logo p {
        font-size: 3vh;
    }
}

.btn, a.btn, button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.btn-engine-start {
  position: relative;

  width: 145px;
  height: 145px;
  margin: 0 auto;

  border-radius: 50%;
  background: white;
  background: -webkit-linear-gradient(
    315deg,
    white 0%,
    white 22%,
    #ddd 44%,
    #a5a5a5 52%,
    black 100%
  );
  background: linear-gradient(
    135deg,
    white 0%,
    white 22%,
    #ddd 44%,
    #a5a5a5 52%,
    black 100%
  );
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
}

.btn-engine-start:before {
  position: absolute;
  top: 7.5px;
  left: 7.5px;

  display: block;

  width: 130px;
  height: 130px;

  content: "";

  border-radius: 50%;
  background: #515151;
  background: -webkit-linear-gradient(
    -45deg,
    #515151 0%,
    #515151 19%,
    #ededed 50%,
    white 77%,
    white 100%
  );
  background: -webkit-linear-gradient(
    315deg,
    #515151 0%,
    #515151 19%,
    #ededed 50%,
    white 77%,
    white 100%
  );
  background: linear-gradient(
    135deg,
    #515151 0%,
    #515151 19%,
    #ededed 50%,
    white 77%,
    white 100%
  );

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#515151', endColorstr='#ffffff', GradientType=1);
}

.btn-engine-start:hover a.btn-engine-start-in:before {
  top: 20px;

  background: #61c419;
  -webkit-box-shadow: 0 0 6px rgba(97, 196, 25, 0.3);
  box-shadow: 0 0 6px rgba(97, 196, 25, 0.3);
}

.btn-engine-start:hover a.btn-engine-start-in {
  padding: 37px 0 0;

  color: #b4e391;
  -webkit-box-shadow: inset 0 1px 1px black, 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 1px black, 0 1px 2px rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 6px rgba(97, 196, 25, 0.3), 0 0 6px rgba(97, 196, 25, 0.3);
}

a.btn-engine-start-in {
  font-size: 14px;
  line-height: 1.2;

  position: absolute;
  top: 18px;
  left: 18px;

  width: 109px;
  height: 109px;
  padding: 35px 0 0;

  color: #fff;
  border-radius: 50%;
  background: #959595;
  background: -webkit-linear-gradient(
    -45deg,
    #959595 0%,
    #0d0d0d 46%,
    #010101 50%,
    #0a0a0a 69%,
    #1b1b1b 100%
  );
  background: -webkit-linear-gradient(
    315deg,
    #959595 0%,
    #0d0d0d 46%,
    #010101 50%,
    #0a0a0a 69%,
    #1b1b1b 100%
  );
  background: linear-gradient(
    135deg,
    #959595 0%,
    #0d0d0d 46%,
    #010101 50%,
    #0a0a0a 69%,
    #1b1b1b 100%
  );
  -webkit-box-shadow: inset 0 2px 2px white, 0 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 2px 2px white, 0 2px 4px rgba(0, 0, 0, 0.5);

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#959595', endColorstr='#1b1b1b', GradientType=1);
}

a.btn-engine-start-in:before {
  position: absolute;
  top: 18px;
  left: calc(50% - 13px);

  width: 26px;
  height: 8px;

  content: "";
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;

  border-radius: 10px;
  background: green;
  background: #555;
}

a.btn-engine-start-in span {
  font-size: 10px;
}

.tire {
    z-index: 2;
}

.scroll_indicator {
    position: fixed;
    left: 0;
    width: 60px;
    height: 60px;
    background: url('img/tire.png') no-repeat center center / contain;
    transition: top 0.1s linear;
}

@media (max-width: 640px) {
    .scroll_indicator {
        width: 40px;
        height: 40px;
    }
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 8px;
}
#popup img {
    max-width: 90vw;
    max-height: 90vh;
}
#popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.groups {
    display: flex;
    justify-content: space-evenly;
}

.group1, .group2, .group3 {
    width: 30%;
    margin: 0;
    position: relative;
    overflow: hidden;
    text-align: center;
}

@media (max-width: 640px) {
    .groups {
        display: block;
    }
    
    .group1, .group2, .group3 {
        width: 80%;
        margin: 0 10% 0 10%;
        overflow: hidden;
    }
}

.members {
    border: 0;
    text-align: center;
    display: block;
    padding: 14px;
    width: 250px;
    margin: auto;
    color: #ffffff;
    background-color: var(--orange);
    border-radius: 8px;
    font-weight: 600;
    font-size: 25px;
    text-decoration: none;
    transition: box-shadow 200ms ease-out;
}

@media (max-width: 640px) {
    .members {
        padding: 10px;
        width: 150px;
    }
}

.image_container {
    position: relative;
}

.image_in_text {
    text-align: center;
    position: relative;
    animation: poyoyon 3.5s infinite;
    /*animation: fade 10s infinite;*/
    opacity: 1;
}

.image_in_text:hover {
    color: rgba(0, 0, 0, 0);
}

.image_in_text h1 {
    /*background: blue url("img/cover.png");*/
    background-color: var(--orange);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin: 0 0 0 0;
    font-size: 15vw;
    font-weight: bold;
}

.image_in_text p {
    background: blue url("img/cover.png");
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin: 0 0 0 0;
}

@media (max-width: 640px) {
    .image_in_text {
        font-size: 45px;
        margin-top: -130px;
    }

    .image_in_text i {
        font-size: 100px;
    }

    .image_in_text span {
        display: none;
    }
}

.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 0px;
}

.arrows path {
    stroke: #2994D1;
    fill: transparent;
    stroke-width: 1px;  
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}

@-webkit-keyframes arrow
{
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}

.arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s;
}

.arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s;
}

.arrows path.a3 { 
    animation-delay:0s;
    -webkit-animation-delay:0s;
}

.map {
    max-width: 100%;
}

.logo {
    position: fixed;
    bottom: 3vh;
    left: 3vw;
    z-index: 2;
}

.logo i {
    font-size: 7vh;
    color: var(--nav-bg);
}

@media (max-width: 640px) {
    .logo i {
        font-size: 5vh;
    }
}

.logo img:hover {
    transform: rotate(360deg) scale(1.1);
}

.system {
    font-size: 12vw;
}