<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>研究内容 | iASL</title>
    <link rel="icon" href="../../img/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../style/research.css">
</head>

<body class="research-page">
    <div id="background-animation"></div>

    <button class="logo logo-button" type="button" onclick="goBackOrRedirect()" aria-label="戻る"><i
            class="fa fa-circle-left" aria-hidden="true"></i></button>

    <section class="panel b-gradation" id="0">
        <article class="panel__wrapper">
            <div class="panel__content">
                <div class="image_container">
                    <div class="image_in_text">
                        <h1><i class="fa fa-car-on"></i><br class="sp_br"><span>&nbsp;</span>研究紹介</h1>
                    </div>
                    <br>
                    <h2>
                        アレックス研究室では自動運転や自律航行などのモビリティ技術を中心に、それらを支える情報基盤の研究を行っています。
                        AIや通信、シミュレーション技術を融合し、誰もが安心・快適に移動できるスマート社会への貢献を目指しています。
                    </h2>
                </div>
                <div class="chip_container">
                    <div class="chip_wrapper">
                        <div class="chips" data-type="tag">
                            <div class="chip__category">キーワード</div>
                        </div>
                        <br>
                        <div class="chip_wrapper">
                            <div class="chips" data-type="grade">
                                <div class="chip__category">学年</div>
                                <div class="chip" data-tag="D2">
                                    <span class="chip__label">D2</span>
                                    <span class="chip__knob"></span>
                                </div>
                                <div class="chip" data-tag="D1">
                                    <span class="chip__label">D1</span>
                                    <span class="chip__knob"></span>
                                </div>
                                <div class="chip" data-tag="M2">
                                    <span class="chip__label">M2</span>
                                    <span class="chip__knob"></span>
                                </div>

                                <div class="chip" data-tag="M1">
                                    <span class="chip__label">M1</span>
                                    <span class="chip__knob"></span>
                                </div>
                                <div class="chip" data-tag="B4">
                                    <span class="chip__label">B4</span>
                                    <span class="chip__knob"></span>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>

                <div class="groups">
                    <div id="researchs"></div>
                </div>

            </div>

            <svg class="arrows">
                <path class="a1" d="M0 0 L30 32 L60 0"></path>
                <path class="a2" d="M0 20 L30 52 L60 20"></path>
                <path class="a3" d="M0 40 L30 72 L60 40"></path>
            </svg>
            <!--デバッグ用
            <div class ="groups">
                <div id="researchs"></div>
            </div>
            --->

        </article>

        <!--デバッグ用
        <article class="panel__wrapper">
            <div class="panel__content b-blue">
                <h1 class="panel__headline"><i class="fa fa-flask-vial"></i>&nbsp;Research</h1>
                <div class="panel__block"></div>
                <div class ="groups">
                    <div id="researchs"></div>
                </div>
            </div>
        </article>
        -->
    </section>

    <div id="modal" class="modal">
        <div class="modal__content">
            <button class="modal__close">×</button>
            <div id="modal-body"></div>
        </div>
    </div>

    <body>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script src="../../hook/research.js"></script>
    </body>
</body>

</html>