<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members | iASL</title>
    <link rel="icon" href="img/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="members.css">
</head>
<body>
    <div class="carousel">
        <div class="carousel-item">
            <div class="carousel-box">
                <div class="title">Alexander Carballo</div>
                <div class="num">BOSS</div>
                <div class="comment">いらっしゃいませ。</div>
                <img class="category" src="img/category/autonomous.jpeg">
                <div class="profile">
                    <img src="img/profile/alex.png">
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="carousel-box">
                <div class="title">Hayato Tokida</div>
                <div class="num">M2</div>
                <div class="comment">3秒だけ待ってくれへん？</div>
                <img class="category" src="img/category/e2e.jpeg">
                <div class="profile">
                    <img src="img/profile/toki.png">
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="carousel-box">
                <div class="title">Koki Amakawa</div>
                <div class="num">M2</div>
                <div class="comment">だれか船やらない？</div>
                <img class="category" src="img/category/ship.jpeg">
                <div class="profile">
                    <img src="img/profile/koki.png">
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="carousel-box">
                <div class="title">Tomoki Kuno</div>
                <div class="num">M2</div>
                <div class="comment">メシ食いに行こうぜ〜</div>
                <img class="category" src="img/category/communication.jpeg">
                <div class="profile">
                    <img src="img/profile/tomoki.png">
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="carousel-box">
                <div class="title">Tomoki Sawada</div>
                <div class="num">M2</div>
                <div class="comment">へへっ</div>
                <img class="category" src="img/category/e2e.jpeg">
                <div class="profile">
                    <img src="img/profile/tom.png">
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="carousel-box">
                <div class="title">Yusuke Yamamoto&nbsp;</div>
                <div class="num">M2</div>
                <div class="comment">カネスエ行ってくるけど、、一緒に行く？</div>
                <img class="category" src="img/category/e2e.jpeg">
                <div class="profile">
                    <img src="img/profile/mobi.png">
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="carousel-box">
                <div class="title">Arata Tanaka</div>
                <div class="num">M1</div>
                <div class="comment">容量足りるん？SSD買わん？</div>
                <img class="category" src="img/category/sensor.jpeg">
                <div class="profile">
                    <img src="img/profile/arata.png">
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="carousel-box">
                <div class="title">Hayato Hayashi</div>
                <div class="num">M1</div>
                <div class="comment">まじ東京行きたくないんだけど。東京で電車に乗りたくない。</div>
                <img class="category" src="img/category/e2e.jpeg">
                <div class="profile">
                    <img src="img/profile/hayato.png">
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="carousel-box">
                <div class="title">Karin Taguchi</div>
                <div class="num">M1</div>
                <div class="comment">まさこ、あいつ大丈夫かな。</div>
                <img class="category" src="img/category/adas.jpeg">
                <div class="profile">
                    <img src="img/profile/karin.png">
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="carousel-box">
                <div class="title">Yoshimasa Hamada</div>
                <div class="num">M1</div>
                <div class="comment">奢るよ</div>
                <img class="category" src="img/category/e2e.jpeg">
                <div class="profile">
                    <img src="img/profile/masako.png">
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="carousel-box">
                <div class="title">Dai Hasegawa</div>
                <div class="num">B4</div>
                <div class="comment">名古屋出身です！俺は名古屋に魂を売っている。</div>
                <img class="category" src="img/category/autonomous.jpeg">
                <div class="profile">
                    <img src="img/profile/dai.png">
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="carousel-box">
                <div class="title">Hideki Sugihara</div>
                <div class="num">B4</div>
                <div class="comment">どっちか迷ったら、どっちも買いましょう。</div>
                <img class="category" src="img/category/backpack.jpeg">
                <div class="profile">
                    <img src="img/profile/hide.png">
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="carousel-box">
                <div class="title">Keitaro Takakura</div>
                <div class="num">B4</div>
                <div class="comment">その紅茶、美味しくない。</div>
                <img class="category" src="img/category/autonomous.jpeg">
                <div class="profile">
                    <img src="img/profile/k.png">
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="carousel-box">
                <div class="title">Mana Yamauchi</div>
                <div class="num">B4</div>
                <div class="comment">私の机なのに...パワハラなんだけどな〜</div>
                <div class="comment"></div>
                <img class="category" src="img/category/autonomous.jpeg">
                <div class="profile">
                    <img src="img/profile/mana.png">
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="carousel-box">
                <div class="title">Soma Ito</div>
                <div class="num">B4</div>
                <div class="comment">ちょっと、お手洗いに行ってきてもいいでしょうか？</div>
                <img class="category" src="img/category/autonomous.jpeg">
                <div class="profile">
                    <img src="img/profile/kyun.png">
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="carousel-box">
                <div class="title">Shotaro Nakamura</div>
                <div class="num">B4</div>
                <div class="comment">モーニング・マンデー実施中!!</div>
                <img class="category" src="img/category/drone.jpeg">
                <div class="profile">
                    <img src="img/profile/saku.png">
                </div>
            </div>
        </div>
    </div>
    <div class="controller">
        <button id="left_btn"><i class="fa fa-angle-left"></i></button>
        <button id="right_btn"><i class="fa fa-angle-right"></i></button>
    </div>
    <a class="logo" onclick="goBackOrRedirect()"><i class="fa fa-circle-left"></i></a>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="members.js"></script>
</body>
</html>
